.about-box {
    font-size: 1.5rem;
    padding: 4rem;
    text-align: center;
    transition: transform .3s;
    position: relative;
    margin-top: 0;

    @include respond(tab-port) {
        padding: 1rem;
    }

    &__icon {
        font-size: 8rem;
        margin-bottom: 3rem;
        display: inline-block;
        color: $color-tertiary;
        font-weight: 100;
    }

    &__text {
        color: $color-black;
    }
}