.btn {

    &-main {
        &:link,
        &:visited {
            color: $color-white;
            text-decoration: none;
            padding: 1rem 3rem;
            display: inline-block;
            // border-top: 2px solid $color-secondary;
            border-bottom: 2px solid $color-white;
            font-weight: 400;
            font-size: 1.8rem;
            letter-spacing: .2rem;
            position: relative;
            outline: 0;
            overflow:hidden;
            background: none;
            z-index: 1;
            cursor: pointer;
            transition:         0.08s ease-in;
            -o-transition:      0.08s ease-in;
            -ms-transition:     0.08s ease-in;
            -moz-transition:    0.08s ease-in;
            -webkit-transition: 0.08s ease-in;
        }

        &:hover {
            color: $color-white;;
            border-radius: .2rem;
            border-bottom: 2px solid transparent;
            box-shadow: 0 4px 6px rgba($color-black, .5);
            backface-visibility: hidden;
        }

        &:active {
            box-shadow: 0 2px 3px rgba($color-black, .8);
        }

        &:after {
            content: "";
            position: absolute;
            background: $color-tertiary;
            bottom: 0;
            left: 0;
            right: 0;
            top: 100%;
            z-index: -1;
            -webkit-transition: top 0.09s ease-in;
        }

        &:hover:after {
            top: 0;
        }
    }

    &-down {
        font-size: 6rem;
        color: $color-white;
        position: absolute;
        transform: translate(-50%, -50%);
        bottom: 12%;
        left: 48%;
        transform: scale(.75);
        transition: all .2s ease-in-out;

        &--icon {
            animation: bounce 3s ease-in infinite;

            &:hover {
                animation: none;
                text-shadow: 0 4px 6px rgba($color-black, .5);
            }
        }

        &:hover {
            transform: scale(1);
            transform-origin: left top;
        }
    }
}