.navigation {
    z-index: 200;
    background-color: rgba($color-primary-2, 0.4);
    position: relative;
    box-shadow: 0 2px 3px rgba($color-black, .5);
    padding: .3rem .5rem;
    font-size: 1.6rem;
    width: 100vw;

    @include respond(phone) {
        background-color: $color-primary-2-light;
    }
    
    &__nav {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        align-items: flex-end;

        @include respond(phone) {
            flex-direction: column;
        }
    }

    &__toggle a {
        font-size: 0;
        color: $color-white;

        @include respond(phone) {
            font-size: 2rem
        }
    }

    &__list {
        display: flex;

        &:last-child {
            margin-right: 6rem;
        }

        @include respond(phone) {
            text-align: center;
            flex-direction: column;
            height: 0;
            display: hidden;
        }

        &--active {
            font-size: 2rem;
          }
    }
    
    &__item,
    &__brand,
    &__toggle {
        display: inline-block;
        margin: 1.6rem 3rem;
        font-size: 1.6rem;
        cursor: pointer;
    }

    &__item {

        @include respond(phone) {
            width: 50vw;
            display: hidden;
            font-size: 0;

            &:last-child {
                margin-bottom: 5rem;
            }

            &--active {
                font-size: 2rem;
            }
        }
    }

    &__link {
        color: $color-white;
        text-decoration: none;
        text-transform: uppercase;
    }

    &__link:hover {
        color: $color-tertiary;
    }

    &__scrolled,
    &__full {
        background-color: $color-primary-2-light;
        // transition: all .5s;
    }
    
    &__scrolled {
        position: fixed;
        top: 0;
        width: 100vw;
        background-color: $color-primary-2-light;
    }
}

.active__list {
    height: 100%;
}