.navigation {
    z-index: 200;
    background-color: rgba($color-primary-2, 0.3);
    position: relative;
    box-shadow: 0 2px 3px rgba($color-black, .5);
    padding: .3rem .5rem;

    &__list {
        display: flex;
        justify-content: flex-end;
    }
    
    &__item,
    &__brand {
        display: inline-block;
        margin: 1.6rem 3rem;
        font-size: 1.6rem;
    }

    &__brand {
        align-self: left;
    }

    &__link {
        color: $color-white;
        text-decoration: none;
        text-transform: uppercase;
    }

    &__link:hover {
        color: $color-tertiary;
    }
    
    &__scrolled {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: $color-primary-2-light;
    }
}