.skillbar {
	position: relative;
	display: block;
	margin-bottom: 3rem;
	width: 100%;
	background: $color-white;
	height: 3.5rem;
    font-size: 1.6rem;
	-webkit-transition: 0.4s linear;
	-moz-transition: 0.4s linear;
	-ms-transition: 0.4s linear;
	-o-transition: 0.4s linear;
	transition: 0.4s linear;
	-webkit-transition-property: width, background-color;
	-moz-transition-property: width, background-color;
	-ms-transition-property: width, background-color;
	-o-transition-property: width, background-color;
    transition-property: width, background-color;

    @include respond(phone) {
           height: 2rem;
    }
    
    &__title {
        position: absolute;
        top: 0;
        left: 0;
        width: 11rem;
        font-weight:bold;
        font-size: 1.3rem;
        color:#ffffff;
        background: $color-white;
        clip-path: polygon(0 0, 0 100%, 80% 100%, 100% 0);

        & span {
            display:block;
            background:rgba($color-black, 0.1);
            padding: 0 2rem;
            height: 3.5rem;
            line-height: 3.5rem;
            
            @include respond(phone) {
                height: 2rem;
                line-height: 2rem;
            }
        }
    }

    &__bar {
        height: 3.5rem;
        width: 0;
        background: $color-white;
        
        @include respond(phone) {
            height: 2rem;
        }
    }

    &__percent {
        position: absolute;
        left: 15rem;
        top:0;
        font-size: 1.1rem;
        height: 3.5rem;
        line-height: 3.5rem;
        color:#ffffff;
        color:rgba($color-black, 0.4);

        @include respond(phone) {
            height: 2rem;
            line-height: 2rem;
            right: 1rem;
            left: auto;
        }
    }
}