body {
    height: 100%;
    font-family: "Arimo", sans-serif;
    font-weight: 400;
}

.heading-primary {
    color: $color-white;
    backface-visibility: hidden;
    margin-bottom: 5rem;

    &--main {
        font-size: 9rem;
        letter-spacing: .1rem;
        font-weight: 400;
        animation: fromTop 2s ease-out;
        font-family: 'Arimo', sans-serif;
    }

    &--sub {
        display: block;
        font-size: 2.5rem;
        font-weight: 400;
        letter-spacing: .85rem;
        // text-transform: uppercase;
    }
}

.heading-secondary {
    font-size: 3.5rem;
    color: $color-black;
    display: inline-block;
    letter-spacing: .3rem;
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}