@import url('https://fonts.googleapis.com/css?family=Unica+One:400,700');
@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700');

body {
    height: 100%;
    font-family: "Karla", sans-serif;
    font-weight: 400;
}

.heading-primary {
    color: $color-white;
    backface-visibility: hidden;
    margin-bottom: 5rem;
    font-family: 'Unica One', sans-serif;

    &--main {
        font-size: 9rem;
        letter-spacing: .1rem;
        font-weight: 400;
        animation: fromTop 2s ease-out;
    }

    &--sub {
        display: block;
        font-size: 2.5rem;
        font-weight: 400;
        letter-spacing: .75rem;
        // text-transform: uppercase;
    }
}

.heading-secondary {
    font-size: 3.5rem;
    color: $color-black;
    display: inline-block;
    letter-spacing: .3rem;
    text-transform: uppercase;
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}