.u-margin-bottom-small { margin-bottom: 2rem; }

.u-margin-bottom-medium { 
    margin-bottom: 6rem; 

    @include respond(phone) {
        margin-bottom: 3rem;
    }

}

.u-margin-bottom-big { 
    margin-bottom: 8rem;
    
    @include respond(phone) {
        margin-bottom: 4rem;
    }
}


.u-center-text { text-align: center; }