.section-about {
    width: 100vw;
    color: rgb(42, 42, 42);
    background-color: $color-white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 8rem;
    position: relative;

    @include respond(phone) {
        padding: 1rem;
        padding-bottom: 4rem;
    }

    &__bio {
        &--img {
            width: 70%;
            border-radius: .3rem;
            box-shadow: 0 2px 3px rgba($color-black, .5);
            -webkit-filter: sepia(50%);
            filter: sepia(50%);
        }
    
        &--text {
            height: 50%;
            width: 100%;
        }
    }

    &__skills {
        padding: 0 2rem;
        vertical-align: center;
    }
}